.order_block{
    margin-bottom: 60px;
}

.order_card{
    height: 300px;
    width: 300px;
    background: rgb(142,229,254);
    background: linear-gradient(135deg, rgba(142,229,254,1) 0%, rgba(155,191,201,1) 100%);
    border-radius: 20px;
    border: 0px solid #ccc;
    transition: border-color 0.3s ease; /* Анімація зміни кольору бордеру */
}

.order_card:hover {
    border: 3px solid #000000;
}

.order_card h1 {
    font-size: 24px;
	font-weight: bold;
	text-align: center;
	margin-top: 12px;
}

.order_card h2 {
    font-size: 36px;
	font-weight: bold;
	text-align: center;
	margin-top: 12px;
}

.order_card h3 {
    font-size: 24px;
	font-weight: bold;
	margin-top: 32px;
    margin-left: 21px;
}

.status{
    margin-bottom: 77px;
}

.window_order{
    width: 1000px;
    height: 700px;
    background-color: #DDF2FD;
    border-radius: 30px;
    padding-top: 20px;
    padding-left: 50px;
    position: absolute;
    top: 200px;
    left: 500px;
    z-index: 1000;
}

.window_order h1{
    font-size: 36px;
	font-weight: bold;
	text-align: center;
    margin-bottom: 50px;
}

.price_card{
    height: 60px;
    width: 500px;
    background-color: #9BBEC8;
    border-radius: 20px;
    display: flex;
    justify-content: space-between; /* Розміщує блоки зліва та справа */
    align-items: center;
    padding-right: 50px;
    margin-bottom: 30px;
}

.left_block{
    
    padding-left: 30px;
    display: flex; /* Встановлюємо flex контейнер */
    justify-content: center; /* Вирівнюємо елементи по центру по горизонталі */
    align-items: center; /* Вирівнюємо елементи по центру по вертикалі */
    text-align: center;
}

.left_block h3{
    font-size: 20px;
	font-weight: bold;
	text-align: center;
    margin-right: 13px;
    
}

.left_block h2{
    font-size: 16px;
	font-weight: bold;
	text-align: center;
}

.right_block{
    display: flex; /* Встановлюємо flex контейнер */
    justify-content: center; /* Вирівнюємо елементи по центру по горизонталі */
    align-items: center; /* Вирівнюємо елементи по центру по вертикалі */
    text-align: center;
}

.right_block h3{
    font-size: 20px;
	font-weight: bold;
	text-align: center;
    margin-right: 13px;
}

.price_adress{
    display: flex;
}

.adderess h1{
    font-size: 20px;
	font-weight: bold;
    text-align: left;
    margin: 0;
    margin-left: 65px;
}

.Button_Order{
    width: 150px;
    height: 50px;
    border-radius: 20px;
    border: none;
    background-color: #9BBEC8;
    margin-top: 103px;
    margin-left: 665px;
    font-size: 20px;
	font-weight: bold;
}