.body_auth {
	width: 1864px;
	height: 1180px;
	background: rgb(155, 190, 200);
	background: linear-gradient(
		180deg,
		rgba(155, 190, 200, 1) 0%,
		rgba(141, 230, 255, 1) 100%
	);
}

.auth_block {
	width: 1070px;
	height: 575px;
	background-color: #ffffff;
	border: 3px solid black;
	border-radius: 40px;
	margin: 0 auto;
	margin-top: 187px;
	align-items: center;
	justify-content: center;
	display: flex;
	flex-direction: column;
}

.auth_block input {
	margin-bottom: 27px;
}

.auth_block h1 {
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	margin-top: 22px;
}

.fish1 {
	position: absolute;
	bottom: -100px;
	left: 70px;
}

.fish2 {
	position: absolute;
	top: 0;
	right: 70px;
}

.forgot_password {
	font-size: 20px;
	font-weight: bold;
	color: #000000;
	margin-left: -279px;
	margin-top: 8px;
	transition: color 0.2s;
}

.forgot_password:hover {
	color: #8de5fe;
}

.button_auth {
	height: 60px;
	width: 205px;
	border-radius: 20px;
	border: none;
	background-color: #ddf2fd;
	font-size: 28px;
	font-weight: bold;
	cursor: pointer;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	margin: 51px 0px 68px 0px;
}

.reg {
	font-size: 20px;
	font-weight: bold;
}

.Input {
    width: 475px;
    height: 70px;
    border-radius: 13px;
    background-color: #DDF2FD;
    font-size: 28px;
    font-weight: bold;
    color: #828282;
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.Input {
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

@media(max-width: 1366px) {
	.body_auth {
		width: 1364px;
		height: 1180px;
		background: rgb(155, 190, 200);
		background: linear-gradient(
			180deg,
			rgba(155, 190, 200, 1) 0%,
			rgba(141, 230, 255, 1) 100%
		);
	}
	
	.auth_block {
		width: 1070px;
		height: 575px;
		background-color: #ffffff;
		border: 3px solid black;
		border-radius: 40px;
		margin: 0 auto;
		margin-top: 27px;
		align-items: center;
		justify-content: center;
		display: flex;
		flex-direction: column;
	}
	
	.auth_block input {
		margin-bottom: 27px;
	}
	
	.auth_block h1 {
		font-size: 40px;
		font-weight: bold;
		text-align: center;
		margin-top: 22px;
	}
	
	.fish1 {
		position: absolute;
		bottom: -100px;
		left: 70px;
	}
	
	.fish2 {
		position: absolute;
		top: 0;
		right: 70px;
	}
	
	.forgot_password {
		font-size: 20px;
		font-weight: bold;
		color: #000000;
		margin-left: -279px;
		margin-top: 8px;
		transition: color 0.2s;
	}
	
	.forgot_password:hover {
		color: #8de5fe;
	}
	
	.button_auth {
		height: 60px;
		width: 205px;
		border-radius: 20px;
		border: none;
		background-color: #ddf2fd;
		font-size: 28px;
		font-weight: bold;
		cursor: pointer;
		box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
		margin: 51px 0px 68px 0px;
	}
	
	.reg {
		font-size: 20px;
		font-weight: bold;
	}
	
	.Input {
		width: 475px;
		height: 70px;
		border-radius: 13px;
		background-color: #DDF2FD;
		font-size: 28px;
		font-weight: bold;
		color: #828282;
		border: none;
		box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	}
	
	.Input {
		align-items: center;
		justify-content: center;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
	}
}