.Display {
	width: 375px;
	height: 350px;
	background-color: #90E0EF;
	margin: 70px;
	border-radius: 20px;
	box-shadow: 10px 10px 4px 0px rgba(0, 0, 0, 0.25);
}

.imgCard {
	display: flex;
	margin: 40px;
	align-items: center;
	justify-content: center;
	width: 300px;
	height: 150px;
	object-fit: cover;
	border-radius: 20px;
}

.NameProduct {
	text-align: center;
	font-size: 24px; 
}

.Price {
	background-color: white;
	width: auto; 
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 12px;
	text-align: center;
	padding: 5px 10px;
	font-size: 24px;
	line-height: 40px;
}

.OriginalPrice {
	text-decoration: line-through;
	color: #888; 
	margin-left: 10px; 
}

.SpecialPrice {
	color: red; 
	font-weight: bold;
}

.Buy {
	background-color: white;
	width: 75px;
	height: 75px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 20px;
}

.InfoProduct {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: calc(100% - 32px);
	margin: 0px 16px;
}
