.header {
	position: fixed;
	width: 100%;
	height: 160px;
	top: 0;
	left: 0;
	z-index: 999;
	border-bottom: 2px solid black;
	background-color: #ffffff;
	font-weight: 600;
}

.nav {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	padding: 0 100px;
}

.nav_list {
	display: flex;
	margin: 0 auto;
	align-items: center;
	justify-content: center;
}

.nav_link {
	width: 275px;
	height: 55px;
	font-size: 35px;
	margin: 0 50px;
	padding: 0;
	color: black;
	background-color: #ffffff;
	border-radius: 14px;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	text-align: center;
}

.nav_link:hover,
.activePage {
	background-color: #90e0ef;
	width: 275px;
	height: 55px;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	margin: 0 50px;
	text-align: center;
	padding: 0px;
}

.shopcart:hover {
	background-color: #90e0ef;
	border: 2px solid black;
}

.activePage {
	font-size: 35px;
	margin: 0 50px;
	border-radius: 14px;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	background-color: #90e0ef;
}

.shopcart {
	border-radius: 50%;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	width: 50px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #ffffff;
}

.exit {
	height: 55px;
	border-radius: 5px;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

@media(max-width: 1366px) {
	.header {
	position: fixed;
	width: 100%;
	height: 140px;
	top: 0;
	left: 0;
	z-index: 999;
	border-bottom: 2px solid black;
	background-color: #ffffff;
}

.nav {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	padding: 0 100px;
}

.nav_list {
	display: flex;
	margin: 0 auto;
	align-items: center;
	justify-content: center;
}

.nav_link {
	width: 157px;
	height: 46px;
	font-size: 30px;
	margin: 0 35px;
	color: black;
	background-color: #ffffff;
	border-radius: 14px;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	text-align: center;
}

.nav_link:hover,
.activePage {
	background-color: #90e0ef;
}

.shopcart:hover {
	background-color: #90e0ef;
	border: 2px solid black;
}

.activePage {
	border-radius: 14px;
	margin: 0 35px;
	font-size: 30px;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	background-color: #90e0ef;
	width: 157px;
	height: 46px;
}

.shopcart {
	border-radius: 50%;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	width: 50px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #ffffff;
}
}